# requirements.txt para proyecto TechDocs con MkDocs

# $ source .venv/bin/activate
# $ pip uninstall -y mkdocs mkdocs-material mkdocs-awesome-pages-plugin click
# $ pip install --upgrade --force-reinstall -r requirements.txt
# $ pip check
# $mkdocs --version

# MkDocs + tema
mkdocs>=1.6,<2.0
mkdocs-material>=9.6,<10.0
mkdocs-awesome-pages-plugin>=2.7,<3.0

# Plugins que usas
mkdocs-include-markdown-plugin>=6.0.0   # Inserta fragmentos .md con Jinja ({% include-markdown "path" %}).
mkdocs-exclude>=1.0.0                   # Excluye ficheros/directorios del build (evita que aparezcan en nav y en site).
mkdocs-exclude-search>=0.6.5            # Evita que ciertos ficheros sean indexados por el buscador.
