.md-nav__title {
    color: var(--md-primary-fg-color--dark);
    display: block;
    font-weight: 700;
    overflow: hidden;
    padding: 0 .6rem;
    text-overflow: ellipsis;
    font-size: medium;
}

/* Poner en negrita los títulos de grupo en el menú lateral */
.md-nav__item--nested > .md-nav__link {
    font-weight: bold;
}

/* resaltar opciones de comando tipo -x o --option */
.md-typeset .highlight .c { color: #2ecc71; font-weight: bold; }     /* Comentarios */
.md-typeset .highlight .n { color: #3498db; }                        /* Nombres normales */
.md-typeset .highlight .na { color: #27ae60; }    /* Name.Attribute = opciones */

.md-typeset .admonition {
    color: color-mix(in srgb, var(--md-default-fg-color) 80%, white 20%);
    border-left-width: 3px;
    border-color: var(--md-typeset-a-color);
    font-size: 0.9em;
}
